@media only screen and (max-width: 760px) {
  div.Header {
    gap: 10px;
    justify-content: space-between;
  }
  div.Logo {
    order: 1;
  }
  div.Menu {
    width: 66px;
    height: 36px;
    flex: none;
    font-size: 16px;
  }
  div.btn {
    width: 78px;
    height: 36px;
    order: 2;
    font-size: 16px;
  }
  div.main-body {
    flex-direction: column;
  }
  div.content {
    height: 267px;
    width: 100%;
    order: 1;
  }
  div.image {
    height: 491px;
    width: 100%;
  }
  div.main-section {
    padding: 40px 0;
  }

  div.item1 {
    width: 100%;
  }

  div.item2 {
    width: calc((100% - 30px) / 2);
  }

  div.item3 {
    width: calc((100% - 30px) / 2);
  }

  div.title1,
  div.title2,
  div.title3 {
    width: 100%;
    font-size: 20px;
  }

  div.footer {
    font-size: 16px;
  }
}
