* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --radius: 8px;
  --bg1: #e2e2e2;
  --bg2: #f1f1f1;
  --gap: 20px;
}
body {
  background-color: #ffffff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
div.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
div.Logo {
  background-color: var(--bg1);
  width: 12%;
  border-radius: var(--radius);
  padding: 15px;
  text-align: center;
  margin-left: 6%;
}
.btn {
  margin-right: 6%;
  background-color: var(--bg1);
  width: 7%;
  text-align: center;
  padding: 7px;
  border-radius: var(--radius);
}
div.Menu {
  background-color: var(--bg1);
  width: 70%;
  text-align: center;
  border-radius: var(--radius);
  padding: 5px;
}
div.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: var(--bg2);
  gap: var(--gap);
  padding: 60px;
}
div.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  width: 600px;
  height: 250px;

  border-radius: var(--radius);
}
div.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  width: 575px;
  height: 575px;

  border-radius: var(--radius);
}
div.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  width: 45%;
  padding: 25px;
  border-radius: var(--radius);
  background-color: #e2e2e2;
}
.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  padding: 40px;
  height: 400px;
  background-color: var(--bg2);
}
div.body1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  padding: 40px 60px 60px 60px;
}
div.section2 {
  background-color: var(--bg1);
  padding: 60px;
}
div.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 45%;
  padding: 25px;
  border-radius: var(--radius);
  background-color: var(--bg2);
}
div.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  background-color: var(--bg2);
}
div.body2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap);
  padding: 40px 0px 0px 0px;
  height: 350px;
}
div.title3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
  width: 45%;
  padding: 25px;
  border-radius: var(--radius);
  background-color: #e2e2e2;
}
div.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  background-color: var(--bg2);
}
div.body3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
  height: 450px;
  padding: 40px 60px 60px 60px;
}
div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding: 25px;
}
