@media only screen and (max-width: 1024px) {
  div.container {
    max-width: 992px;
    width: 95%;
  }
  div.header {
    max-width: 992px;
    width: 95%;
  }
  div.Logo {
    width: 140px;
    height: 42px;
  }

  div.btn {
    height: 36px;
  }

  div.Menu {
    width: 418px;
    height: 30px;
  }
  div.content {
    height: 267px;
  }
  div.image {
    height: 310px;
  }
  div.section1,
  div.section2,
  .section3 {
    padding: 60px 0;
  }
  div.item1 {
    width: calc((100% - 30px) / 2);
  }

  div.item2 {
    width: calc((100% - 30px * 2) / 3);
  }

  div.item3 {
    width: calc((100% - 30px) / 2);
  }

  div.title1,
  div.title2,
  div.title3 {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
}
